.custom-progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom-progress-bar .fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.custom-progress-bar .label {
  font-size: 0.8rem;
}
